:root {
  --light-blue-rgb: 0, 121, 191;
  --dark-blue-rgb: 0, 82, 130;

  --glow-rgb: 245, 245, 245;
}

@keyframes pan {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}

#app {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

#star-container {
  background: radial-gradient(
    rgb(var(--light-blue-rgb)),
    rgb(var(--dark-blue-rgb))
  );
  height: 100%;
  overflow: hidden;
  position: relative;
}

#star-pattern {
  background-image: url(star-background.png);
  background-size: 10%;
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0%;
  z-index: 1;
  height: 100%;
  width: 100%;
  min-width: 1200px;
  opacity: 0.1;
  animation: pan 80s linear infinite;
  will-change: background-position;
}

#star-gradient-overlay {
  background: radial-gradient(
    circle,
    transparent 75%,
    rgb(var(--dark-blue-rgb))
  );
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  z-index: 2;
}

#content-wrapper {
  width: 100%;
  height: 72vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 10;
  padding: 2rem;
}
